body  {
  background-image: url("../src/img/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
  color: aliceblue; 
  text-align: center;
}

.carousel-item h2 {
  font-size: 4vw;
}

.carousel-item p {
  font-size: 2vw;
}